extends layout
block content
      .maincontent

        
            .grid-container
              each row in res1
                .item
                  h1.itemtitle #{row.Name}
                  img.muscleimage(src="#{row.Image}", alt="row.Image")
                label illustration credits: 
                  p.itemp #{row.Comments} 
                  label origin: 
                  p.itemp #{row.Origin}
                  label insertion: 
                  p.itemp #{row.Insertion}
                  label action: 
                  p.itemp #{row.Action}