extends layout
block content
      .maincontent
          form(method="post" action="/searchmuscles")
              label(for="search") Search:
              input(name="search", type="text", Placeholder="Search For...") 
              button.button(type="submit") Search
        
          h2 Here is a sample of the muscles you will have to study
            .grid-container
              each row in res1
                .item
                  h1.itemtitle #{row.Name}
                  label origin: 
                  p.itemp #{row.Origin}
                  label insertion: 
                  p.itemp #{row.Insertion}
                  label action: 
                  p.itemp #{row.Action}
                  a.button(href="/muscle/#{row.Id}") Show
                  a.button(href="/editmuscle/#{row.Id}") Edit
                  a.button(href="/deletemuscle/#{row.Id}") Delete
          